.bar-chart {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 400px; /* ou toute autre largeur souhaitée */
  height: 300px; /* ou toute autre hauteur souhaitée */
  border: 1px solid #ccc;
  padding: 10px;
}

.bar {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar-label {
  margin-bottom: 5px;
}

.bar-value {
  background-color: #007bff; /* Couleur des barres, modifiez selon vos préférences */
  width: 50px; /* Largeur de la barre */
  text-align: center;
  color: #fff; /* Couleur du texte */
  font-size: 14px;
}
