body {
    background-color: #222; /* Couleur de fond sombre */
    color: #fff; /* Couleur du texte clair */
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh; /* 100% de la hauteur de la vue */
  }
  
  .hello-world {
    margin-bottom: 20px; /* Espace entre le texte et le bouton */
  }
  
  .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  a {
    background-color: #444; /* Couleur de fond du bouton sombre */
    color: #fff; /* Couleur du texte clair */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  a:hover {
    background-color: #666; /* Couleur de fond du bouton sombre au survol */
  }
  

  .todo-list-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
    color: #fff;
  }
  
  .todo-input {
    padding: 10px;
    margin-right: 10px;
    width: 60%;
    border: none;
    border-radius: 5px;
  }
  
  .add-button {
    padding: 10px 20px;
    background-color: #666;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-button:hover {
    background-color: #888;
  }
  
  .todo-list {
    list-style-type: none;
    padding: 0;
  }
  
  .todo-list li {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .todo-list li.completed {
    text-decoration: line-through;
    background-color: #555;
  }
  

  .delete-all-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ff6347; /* Rouge */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .delete-all-button:hover {
    background-color: #ff4831; /* Rouge plus foncé au survol */
  }
  
  .todo-list li button {
    margin-left: 5px;
    padding: 5px 10px;
    background-color: #666;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .todo-list li button:hover {
    background-color: #888;
  }
  